/*base.html*/

body{
    background-color: grey
}

#banner{
    height: 800px;
    width: 100%; 
}

h1{
    color: white;
}

#social-links{
    text-align: center;    
}

#social-links > li{
    display: inline;     
}

#social-links  i{
    font-size: 200%;    
    color: white;
    padding-right: 7%;
    line-height: 100px;   
}

/*nutrition.html*/

#text {
    color: white;
}
