/*base.html*/

body{
    background-color: grey
}

#banner{
    height: 800px;
    width: 100%; 
}

h1{
    color: white;
}

#social-links{
    text-align: center;    
}

#social-links > li{
    display: inline;     
}

#social-links  i{
    font-size: 200%;    
    color: white;
    padding-right: 7%;
    line-height: 100px;   
}

footer {
    position: relative; 
    bottom: 0;
}
/*nutrition.html*/

#text {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.intro{
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    color: white;
}

.heading{
    text-align: center;  
}

h4, h2, p{
    text-align: center;
}