{% extends "base.html" %} {% load static %}

{% block content %}

<div class=container>
    <div class=row>
        <div class= col-sm-6>
            <h2 class=text-white>About Us</h2>
                <p class=text-white>When starting out in the gym and trying to figure out what workout works best, and the diet required can be overwhelming 
                    with the amount of information out there. 
                    Here at Online Fitness we have made that simple for you by consolidating the information into one location for you to follow.
                </p>
        </div> 
        <div class= col-sm-6>
            <img src="{% static 'images/homeimage.jpg' %}" alt="picture of a bumbell bar with weights" />
        </div>       
    </div>
</div>  
<div class=container>
    <div class=row>
        <div class= col-sm-6>
            <img src="{% static 'images/aboutusimage.jpg' %}" alt="picture of kettle bell and weights" />
        </div>      
        <div class= col-sm-6>
            <h2 class= text-white>What we can do for you</h2>
                <p class=text-white>Once you register and log in with us, you will be able to follow out workout plan and nutrition plan, 
                    based on your personnel goals. 
                    We also have a blog section for members to read and comment on to share there thoughts and ideas.
                </p>
        </div> 
    </div>
</div>  


{%endblock%}