{% extends "base.html" %}

{% block content %}

<div class=container>
    <div class=row>
        <div class= .col-sm-6>
            <h2>About Us</h2>
                <p>Intro Piece</p>
        </div> 
        <div class= .col-sm-6>
            <p>IMAGE HERE</p>
        </div>       
    </div>
</div>  
<div class=container>
    <div class=row>
        <div class= .col-sm-6>
            <h2>What we can do for you</h2>
                <p>What the website does</p>
        </div> 
        <div class= .col-sm-6>
            <p>IMAGE HERE</p>
        </div>       
    </div>
</div>  


{%endblock%}