{% extends "base.html" %}{% load static %}

{% block content %}

<h1>Nutrition</h1><i class="fa-solid fa-fork-knife"></i>

<div class=container>
    <div class=row>
        <div class= col-sm-6>
            <h2>Bulking</h2>
            <h4>Breakfast</h4>
            <p>
                1 cup of oats
                1 scoop of whey protein
                4 eggs and 3 bacon slices
            </p>
            <h4>Lunch</h4>
            <p>
                1 baked sweet potato
                1 salmon fillet
                Spinach/Vegitables
            </p>
            <h4>Dinner</h4>
            <p>
                2 chickedn fillets
                1 cup of rice
                1/2 cup of mixed beans
                handful of vegitables
            </p>
            <h4>Snacks</h4>
            <p>
                Whey protein
                Coffee
                Plenty of Water
                Nuts
                Fruit
                Protein bars
            </p>
        </div> 
        <div class= col-sm-6>
            <h2>Weight Loss</h2>
            <h4>Breakfast</h4>
            <p>
                3 eggs and 3 bacon slices          
            </p>
            <h4>Lunch</h4>
            <p>
                2 scoops of whey protein
                90 grams of Nuts
                Piece of Fruit
            </p>
            <h4>Dinner</h4>
            <p>
                90 grams of meath, fish or poultry
                sweet potato (chips, mash or baked)
                Vegitables
            </p>
            <h4>Snacks</h4>
            <p>
                Coffee
                Plenty of Water
                Nuts
                Fruit
            </p>
        </div> 
    </div>
</div>  

{% endblock %}
