{% extends "base.html" %}{% load static %}

{% block content %}

<h1 class="text-center" class = "text-white" >Nutrition</h1>

<div class= "container" class= "col-sm-6">
    <div class=row>
        <div>
            <h2>Bulking</h2>
            <p>
                1 cup of oats<br>
                1 scoop of whey protein<br>
                4 eggs and 3 bacon slices<br>
            </p>
            <h4>Lunch</h4>
            <p>
                1 baked sweet potato<br>
                1 salmon fillet<br>
                Spinach/Vegitables<br>
            </p>
            <h4>Dinner</h4>
            <p>
                2 chicken fillets<br>
                1 cup of rice<br>
                1/2 cup of mixed beans<br>
                Handful of vegitables<br>
            </p>
            <h4>Snacks</h4>
            <p>
                Whey protein<br>
                Coffee<br>
                Plenty of Water<br>
                Nuts<br>
                Fruit<br>
                Protein bars<br>
            </p>
        </div> 
    </div>
</div>
<div class= "container" class= "col-sm-6">
    <div class=row>
        <div>
            <h2>Weight Loss</h2>
            <h4>Breakfast</h4>
            <p>
                3 eggs and 3 bacon slices<br>        
            </p>
            <h4>Lunch</h4>
            <p>
                2 scoops of whey protein<br>
                90 grams of Nuts<br>
                Piece of Fruit<br>
            </p>
            <h4>Dinner</h4>
            <p>
                90 grams of meath, fish or poultry<br>
                Sweet potato (chips, mash or baked)<br>
                Vegitables<br>
            </p>
            <h4>Snacks</h4>
            <p>
                Coffee<br>
                Plenty of Water<br>
                Nuts<br>
                Fruit<br>
            </p>
        </div> 
    </div>
</div>  
{% endblock %}
